body {
    background-image: url(https://i.pinimg.com/originals/31/91/66/319166ce69e230d295e4fa04ffaff39c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.282);
}

.window{
    margin-top: 100px;
}

.about, .quote, .finder {
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Cinzel', serif;
}

.about {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cinzel', serif;
    font-size: 100px;
    
}


.quote {
    font-size: 50px;
    margin-top: 50px;
}

.finder {
    font-size: 30px;
    margin-top: 1px;
    font-weight: bold;
}

.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
    margin-top: 15px;
}

.home {
    text-decoration: none;
    color: white;
}

.home:hover {
    color: #38ffd4;
}

.nav-links {
    display: flex;
    justify-content: end;
    width: 40%;
    list-style-type: none;
    margin-top: 15px;
}

.nav-links li {
    position: relative;
    margin-left: 20px;
}

.nav-links a {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* fixed comment */
    color: #38ffd4;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0 0 10px 10px;
}

.dropdown-content a {
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    font-size: 20px;
}

.dropdown-content a:hover {
    background-color: #555;
    color: #38ffd4;
}

.nav-links .dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn:hover {
    color: #38ffd4;
}

/* Media Queries */

@media (max-width: 825px) {
    .dropdown-content {
        left: -30px;
    }
    .window h1, .window h2, .window h3, .window h4, .window h5 {
        font-size: 300%;
    }
}

@media (max-width: 692px) {
    .window h1, .window h2, .window h3, .window h4, .window h5 {
        font-size: 200%;
    }
}

@media (max-width: 460px) {
    .window h1, .window h2, .window h3, .window h4, .window h5 {
        font-size: 150%;
    }
}

@media (max-width: 342px) {
    .window h1, .window h2, .window h3, .window h4, .window h5 {
        font-size: 110%;
    }
}
